[submodule "components/ReactESP"]
	path = components/ReactESP
	url = https://github.com/mairas/ReactESP
[submodule "components/arduino-mqtt"]
	path = components/arduino-mqtt
	url = https://github.com/256dpi/arduino-mqtt
[submodule "components/WebSockets"]
	path = components/WebSockets
	url = https://github.com/Links2004/arduinoWebSockets.git
